/* * {
  box-sizing: border-box;
}

.site-container {
  min-height: 100vh;
}

.main {
  flex: 1;
}

.products {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}

.product {
  border: 1px #40404040 solid;
  margin: 1rem;
}

.product p {  
  padding: .5rem;
}

.product img {
  width: 100%;
  max-width: 350px;
}  */

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}