.root {
  box-sizing: border-box;
  background-color: #2e3236;
  color: #fff;
  height: 100%
}

.main {
  background-color: #2e3236;
  color: #fff;
  height: 100%;
}

a, li {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  list-style: none;
}

a:hover, a.nav-link:hover {
  color: #23455c;
}

a.nav-link {
  color: #fff
}

.rating i {
  color: #3c759b;
}

.blue-button {
  background-color: #3c759b;
  border: #3c759b;
}

.blue-button:hover, .blue-button:after, .blue-button:active, .blue-button:active:after, .blue-button:focus, .blue-button:disabled {
  background-color: #23455c;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
  min-height: 85vh;
}

.wide-container {
  min-height: 85vh;
  max-width: 80vw;
}

h1, h2, h3, p {
  color: #fff
}

.app {
  background-color: #212529;
  min-height: 100vh;
}

.bg {
  background-color: #212529;
  color: #fff;
  border: none;
}

.logo {
  padding: 0 3rem 
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border-radius: 20px;
}

.img-small {
  max-height: 700px;
}

.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #2e3236;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}

