/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

.main {
  background-color: #2e3236;
  color: #fff;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

a:hover {
  color: #23455c;

}

.rating i {
  color: #3c759b;
}

.cart-button {
  background-color: #3c759b;
  border: #3c759b;
}

.cart-button:hover, .cart-button:after, .cart-button:active, .cart-button:active:after, .cart-button:focus {
  background-color: #23455c;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

h1, h2, h3, p {
  color: #fff
}

.bg {
  background-color: #252525;
  color: #fff;
  border: none;
}

.product {
  border-radius: 20px;
}
